.login {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  height: 440px;
  box-shadow: 0px 0px 14px 0px #784fff;
}

.form_wrapper {
  background-color: #21263b;
  width: 350px;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    background: -webkit-linear-gradient(#784fff, #566df0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-weight: 300;
  }

  small {
    cursor: pointer;
    color: #35bea7;
    position: relative;
    font-size: 0.8rem;
    bottom: 40px;
    left: 206px;
    width: 35px;
  }

  input {
    width: 240px;
    background: transparent;
    border: none;
    outline: 0;
    border-bottom: 1px solid #6543d6;
    margin: 20px 0;
  }

  input[type="email"],
  input[type="password"] {
    color: #eae9ef;
  }

  input::placeholder {
    color: #f6f7f977;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
  }

  button {
    background: #35bea7;
    border: transparent;
    letter-spacing: 0.2rem;
    font-size: 1.1rem;
    font-weight: 500;
    color: #191e24;
    padding: 0.1rem 0;

    &:hover {
      background: #3fdbc1;
    }
  }
}

.inputs {
  display: flex;
  flex-direction: column;
}

.form_bottom {
  width: 240px;
}

.login_left {
  width: 300px;
  height: 440px;
  background-color: #16113a;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 3rem;
    padding: 2rem;
    color: #f5f9fc;
    letter-spacing: 0.2rem;
    font-weight: 400;
  }
}
