.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form_wrapper {
  background-color: #171717;
  width: 350px;
  height: 430px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;

  h1 {
    background: -webkit-linear-gradient(#6543d6, #2f49d1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.2rem;
    letter-spacing: 0.2rem;
    font-weight: 600;
    // color: #2f49d1;
  }

  small {
    cursor: pointer;
    color: #35bea7;
    position: relative;
    bottom: 40px;
    left: 205px;
    width: 40px;
  }

  input {
    width: 240px;
    background: transparent;
    border: none;
    outline: 0;
    border-bottom: 1px solid #35bea781;
  }

  input[type="email"],
  input[type="password"] {
    color: #eae9ef;
  }

  input::placeholder {
    color: #f6f7f977;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
  }

  button {
    background: #35bea7;
    border: transparent;
    letter-spacing: 0.2rem;
    font-size: 1.1rem;
    font-weight: 500;
    color: #191e24;
    padding: 0.1rem 0;

    &:hover {
      background: #43d6be;
    }
  }
}

.inputs {
  display: flex;
  flex-direction: column;
}

.form_bottom {
  width: 240px;
}

.spinner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
