.profile_container {
  width: 100%;
}

.wrapper_profile {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.profile_pic {
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .badge {
    position: relative;
    top: 20px;
    left: 73px;
    cursor: pointer;
    font-size: 0.6rem;
    font-weight: 300;
  }

  img {
    width: 200px;
  }

  form {
    width: 100%;
    display: flex;
    justify-content: center;

    input[type="file"] {
      display: none;
    }

    label {
      background-color: #37b9f1;
      height: 25px;
      width: 80px;
      text-align: center;
      margin: 0 12px;
      cursor: pointer;
    }

    input[type="submit"] {
      background-color: #35bea7;
      height: 25px;
      width: 80px;
      border: none;
      margin: 0 12px;
    }
  }

  i {
    color: #fff;
    font-size: 1.4rem;
    position: relative;
    left: 33%;
    bottom: 12%;
    cursor: pointer;
  }
}

.username {
  display: flex;
  padding: 0 2rem;
}
