.wrapper {
  width: 100%;
}

.post_container {
  .post_info {
    // width: 700px;
    color: #f2f5f5;
    position: relative;
    top: 120px;
    margin: 0 35px;
    .username {
      color: #37b9f1;
      font-weight: 600;
      letter-spacing: 0.1rem;
    }

    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
      box-shadow: 0 0 5px 1px #37b9f1;
    }

    h5 {
      letter-spacing: 0.1rem;
      font-weight: 500;
      font-size: 1.4rem;
      color: #9147ff;
    }
  }

  .likes_container {
    i {
      color: #fff;
      cursor: pointer;
    }
  }
}
