.wrapper {
  width: 80%;
}

.post_container {
  .post_info {
    color: #f2f5f5;
    position: relative;
    top: 80px;
    left: 10px;
    span {
      color: #37b9f1;
      font-weight: 600;
      letter-spacing: 0.1rem;
    }

    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
      box-shadow: 0 0 5px 1px #37b9f1;
    }

    h5 {
      letter-spacing: 0.1rem;
      font-weight: 500;
      font-size: 1.4rem;
      color: #9147ff;
    }
  }
}

.wrapper {
  h3 {
    text-align: center;
  }
}
