.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .post_container {
    width: 100%;
    color: #f2f5f5;
    position: relative;
    top: 0px;
    margin: 0 35px;

    .show_hide_btn {
      width: 100%;
      background: transparent;
      border: none;
      color: #fff;
      padding: 1rem 0;
    }

    .post_info {
      width: 100%;
      color: #f2f5f5;
      padding: 1rem;
      border-top: 1px solid #37b9f1;

      .username {
        color: #37b9f1;
        font-weight: 600;
        letter-spacing: 0.1rem;
      }

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0 0 5px 1px #37b9f1;
      }

      h5 {
        letter-spacing: 0.1rem;
        font-weight: 500;
        font-size: 1.4rem;
        color: #9147ff;
      }
    }
  }

  .likes_container {
    i {
      color: #fff;
      cursor: pointer;
    }
  }

  .hidden div[data-id="js-container"] {
    height: 0;
  }

  .hidden div[data-id="css-container"] {
    height: 0;
  }
}

.custom textarea {
  outline: none;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
  background-color: rgba(22, 22, 22, 0.918);
  padding: 1rem 0;
  border-top: 1px solid #c0c0c07c;
  border-bottom: 1px solid #c0c0c07c;

  div[data-id="js-container"],
  div[data-id="css-container"] {
    -webkit-animation-name: code_onShow;
    animation-name: code_onShow;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
}

@-webkit-keyframes code_onShow {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes code_onShow {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
