.header_wrapper {
  width: 200px;
  position: absolute;
  position: fixed;
  z-index: 3;
  right: 30px;
  top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .name_wrapper {
    h6 {
      color: #a265ff;
      font-weight: 600;
      font-size: 1rem;
      letter-spacing: 0.1rem;
    }
  }

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 5px 1px #9d5cff;
  }

  .logout_btn {
    p {
      color: #fff;
      font-size: 0.8rem;
      font-weight: 500;

      &:hover {
        cursor: pointer;
        color: #37b9f1;
      }
    }
  }
}
