.sidebar_left {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(16, 15, 16);

  h1 {
    background: -webkit-linear-gradient(#7c5ce6, #5a6ddb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    font-weight: 500;
    font-family: "Varela Round", sans-serif;
    text-align: center;
  }
}

.sidebar_logo {
  position: relative;
  top: 50px;
  margin: 0 auto;
}

.sidebar_links_wrapper {
  height: 100%;
  position: relative;
  top: 20%;
  margin-right: auto;
  margin-left: auto;
}

.sidebar_links {
  display: flex;
  align-items: center;
  // justify-content: center;
  width: 100%;
  margin: 20px 0;

  h5 {
    color: rgba(255, 255, 255, 0.96);
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    letter-spacing: 0.1rem;

    &:hover {
      color: rgba(221, 221, 221, 0.96);
    }
  }

  span {
    color: rgba(255, 255, 255, 0.96);
    padding-bottom: 7px;
  }
}
