* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Varela Round", sans-serif;
}

.App {
  background-color: rgb(36, 36, 36);
  width: 100vw;
  height: 100vh;
}

.main_container {
  width: 100%;
  display: flex;
}

.home_right {
  background-color: rgb(36, 36, 36);
  background-attachment: fixed;
  width: 100%;
  margin-left: 300px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div[data-id="preview-container"] {
  width: 100%;
  padding: 150px 0;
  display: flex;
  justify-content: center;
}

div[data-id="js-container"] {
  background: rgb(30, 20, 30);
  height: 21.875rem;
  max-height: 21.875rem;
  overflow: auto;
  min-width: 320px;
  max-width: 550px;
  overflow: auto;
  margin: 10px;
  border-radius: 5px;
  box-shadow: inset 2px 2px 2px #9147ff, inset -2px -2px 2px #9147ff;
  position: relative;
  font-family: "Fira code", "Fira Mono", monospace;
  cursor: text;
  color: #fff;
  scrollbar-color: red;
}

textarea {
  outline: none;
}

div[data-id="css-container"] {
  background: rgb(30, 20, 30);
  height: 21.875rem;
  max-height: 21.875rem;
  overflow: auto;
  min-width: 320px;
  max-width: 550px;
  overflow: auto;
  margin: 10px;
  border-radius: 5px;
  box-shadow: inset 2px 2px 2px #9147ff, inset -2px -2px 2px #9147ff;
  position: relative;
  font-family: "Fira code", "Fira Mono", monospace;
  cursor: text;
  color: #fff;
}

div[data-id="error-container"] {
  background: tomato;
  color: #ca3434;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 20px;
}

span[class*="operator"] {
  background: none !important;
}

pre {
  color: rgb(4, 213, 250) !important;
}
