.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .post_container {
    width: 100%;
    color: #f2f5f5;
    position: relative;
    // top: 120px;
    margin: 0 35px;
    .username {
      color: #37b9f1;
      font-weight: 600;
      letter-spacing: 0.1rem;
    }
    .post_info {
      width: 100%;
      color: #f2f5f5;
      position: relative;
      top: 90px;
      left: 35px;
      span {
        color: #37b9f1;
        font-weight: 600;
        letter-spacing: 0.1rem;
      }

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0 0 5px 1px #37b9f1;
      }

      h5 {
        letter-spacing: 0.1rem;
        font-weight: 500;
        font-size: 1.4rem;
        color: #9147ff;
      }
    }
  }
}

.delete_btn {
  position: relative;
  width: 80px;
  left: 90%;
  top: 53px;
  background-color: #f13d37;
  padding: 4px 12px;
  border: none;
  border-radius: 5px;
  color: #f2f5f5;
  font-size: 0.8rem;

  &:hover {
    background-color: #f2f5f5;
    color: #f13d37;
  }
}

.custom textarea {
  outline: none;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(22, 22, 22, 0.918);
  padding: 1rem 0;
}
