.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h6 {
    position: relative;
    left: 400px;
  }

  button {
    width: 100px;
    padding: 0.7rem;
  }
}

.custom textarea {
  outline: none;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 2rem;
  background-color: rgba(22, 22, 22, 0.918);
  padding: 1.5rem 0;
}
