.wrapper {
  width: 100%;
  height: 100%;

  .modal_btn {
    position: absolute;
    top: 90px;
    left: 300px;
    width: 200px;
    padding: 6px 3px;
    background-color: #8739f9;
    border: transparent;
    color: #f2f5f5;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 6px;
    letter-spacing: 0.04rem;
  }
}

.form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
}
